{% extends 'home/base.html' %}

{% block title %}Update Profile{% endblock %}
{% block heading %}修改个人信息{% endblock %}
{% block body %}

<div class="container">
<div class="row">
  <form class="col s12" action='/profile/do_change/' method="POST">
    {%csrf_token%}
    <div class="row">
      <input type='hidden' name='id' value='{{doctor.pk}}'>
      <div class="input-field col s6">
        <input type="text" id="doctor" disabled="disabled"  value='{{doctor.name}}'>
        <label for="doctor" >医生</label>
      </div>

      <div class="input-field col s6">
        <input type="text" id="phone_number"   name="phone_number" value='{{doctor.phone_number}}'maxlength="15">
        <label for="phone_number" class="active">联系方式</label>
      </div>

      <div class="input-field col s12">
        <input type="text" id="address"  name="address" value='{{doctor.address}}' maxlength="200">
        <label for="address" class="active">地址</label>
      </div>

      <button type="submit" class="btn grey">更新</button>
    </div>
  </form>
</div>
</div>
{% endblock %}
